.logo-small {
    min-width: 61px;
}

.icons {
    font-size: 1.5em;
    color: black;
}

.title {
    font-size: 1.7rem;
    line-height: 1;
    color: #00BDF3;
}

.title span {
    color: #7A7A7A;
}

.search {
    width: 80%;
    height: auto;
}

.menu-button {
    font-size: 1.9em;
    width: 200px;
}