.no_border {
    border: none
}

.product_image {
    align: left;
    width: 70px;
    height: auto
}

.a_text {
    color: #000000;
    text-decoration: none;
}

.winkelwagen {
    text-decoration: none;
}

.verlanglijst {
    margin-left: 4px;
    text-decoration: none
}