.footer {
    position: fixed;
    height: 150px;
    left: 0;
    bottom: 0;
    width: 30%;
    max-width: 50%;
    background-color: #00BDF3;
    text-align: center;
    overflow: hidden;

}
.footer-title {
    font-size: 1.0rem;
    line-height: 1;
    color: #00BDF3;
}

.footer-logo {
    max-width:100px;

}