.holder{        
	width:100%;
	display:block;
}
.popupcontent{
	background:#fff;
	padding: 1em 1em 1em 1em;
}
.popup{
	border-radius: 0.5em;
	background:#6b6a63;
	margin:1em auto 0;
	padding:1em;  
	// here it comes
	position:static;
	width:22em;
}